.progress-bar {
    -fx-background-color: grey;
    -fx-border-color: #d1d7ff;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
}

.progress-bar .bar {
    -fx-background-color: red;
}

.progress-bar.complete {
    -fx-background-color: grey;
    -fx-border-color: #d1d7ff;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
}

.progress-bar-complete .bar {
    -fx-background-color: #0c9100;
}
